* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar styling */

.navbar {
    border-bottom: 1px solid #dadada;
    max-width: 1260px;
    margin: 0px auto;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
    }
}

@media (min-width:769px) {
    .navbar-list-items {
        margin: 1rem 3rem;
    }
}

.logo {
    font-family: 'Style Script', cursive;
    font-size: 2.5rem;
}

.authorisation {
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(120, 120, 120);
    margin: 0px;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.authorisation a {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

.authorisation a:hover {
    color: black;
    cursor: pointer;
}

@media (max-width:768px) {
    .authorisation {
        display: none;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    /* position: fixed; */
    /* position: sticky;
    position: -webkit-sticky; */
}

@media (max-width:768px) {
    .search {
        width: 100%;
        padding: 0.6rem;
    }
    #search-bar {
        width: 100%;
    }
    .search label {
        position: absolute;
        right: 1.5rem;
    }
}

.search-sticky {
    position: fixed;
    top: 0px;
}

.search label {
    margin-left: 0.5rem;
}

#search-bar {
    /*font-size: 1.1rem; */
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
    height: 3.4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
    padding: 1rem;
    /* padding-left: 1.5rem; */
    outline: none;
}

#search-bar::placeholder {
    color: rgb(151, 151, 151);
}

@media (min-width:769px) {
    #search-bar {
        min-width: 500px;
    }
}

/* AccountIcon */

.mobile-authentication-icon {
    position: absolute;
    display: block;
    /* width: 100%; */
    /* bottom: 0px; */
    right: 5px;
    text-align: center;
    top: 5px;
    background-color: white;
    /* box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px; */
    border-top: 1px solid #d6d6d6;
    padding: 0.4rem;
}

@media (min-width:769px) {
    .mobile-authentication-icon {
        display: none;
    }
}

/* Page-content */

.restaurant-list {
    display: flex;
    max-width: 1260px;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.restaurant-list .restaurant-container {
    padding: 10px;
    cursor: pointer;
}

.restaurant-list .restaurant-container .restaurant-image {
    width: 300px;
    border-radius: 0.5rem;
}

.restaurant-list .restaurant-container .restaurant-container-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.3rem 0rem;
    color: black;
}

.restaurant-list .restaurant-container .restaurant-container-rating {
    font-family: 'Roboto', sans-serif;
    color: rgb(151, 151, 151);
}

.restaurant-list .restaurant-container .restaurant-container-type {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: black;
    /* white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; */
}

/* Menu button  */

.order-restaurant-menu {
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    background-color: #333333;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    border: none;
}

.order-restaurant-menu-item {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

@media (min-width:769px) {
    .order-restaurant-menu {
        display: none;
    }
}

.order-restaurant-dropdown {
    position: absolute;
    bottom: 4.5rem;
    right: 1rem;
    list-style: none;
    max-height: 20rem;
    width: 13rem;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(102, 102, 102, 1);
    -moz-box-shadow: 0px 0px 15px -4px rgba(102, 102, 102, 1);
    box-shadow: 0px 0px 15px -4px rgba(102, 102, 102, 1);
    overflow-y: scroll;
    border-radius: 0.3rem;
    border: 1px solid rgb(232, 232, 232);
}
.order-restaurant-dropdown-item{
    padding:0.8rem 0.5rem;
    

}

.order-restaurant-dropdown-item a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Order page  */

@media (max-width:768px) {
    .order-restaurant-image {
        display: none;
    }
}

.order-restaurant-header {
    /* margin: 0px auto; */
    margin-top: 2rem;
    padding: 0px 10px;
}

.order-restaurant-header .order-restaurant-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

.order-restaurant-header .order-restaurant-rating {
    margin: 0.3rem 0rem;
}

.order-restaurant-header .order-restaurant-type {
    font-family: 'Roboto', sans-serif;
    color: rgb(151, 151, 151);
}